@mixin ts($c, $fs, $ff, $fw) {
    color: $c;
    font-size: $fs;
    font-family: $ff;
    font-weight: $fw;
}



@mixin  after($l, $t, $w, $h, $bg) {
    position: absolute;
    content: '';
    left: $l;
    top: $t;
    width: $w;
    height: $h;
    background: $bg;
}